body {
    background: lightgray;
}

.navbar{
    max-height: 57px; 
    background-color: white; 
    font-size: 15px; 
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
    margin-left: 20px; 
    margin-top: 50px;
    float: left;
    padding: inherit; 
    background-color: white;
    width: 500px;
}

.title{
    color: #0BADA6; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    font-size: inherit;
    margin-top: 25px;
}